*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: rgb(243, 243, 234);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
   
}
.sectionPoke{
    display: flex;
    flex-wrap: wrap;
   
}
.titleFi{
    text-align: center;
    height: 70px;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: azure;
    letter-spacing: 5px;
    background: linear-gradient(60deg, rgb(96, 201, 243), rgb(0, 140, 255));
}
.pokedex_simple{
    width: 30%;
    min-width: 400px;
    margin: 20px auto;
    
    height: 650px;
    overflow: hidden scroll;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content:space-between;
    
}
.pokemonCard{
    display: flex;
    width:90%;
    height: 65px;
    margin: 5px auto;
    list-style: none;
    box-shadow: 1px 1px 10px 1px rgb(197, 213, 218);
    text-align: center;
    border-radius: 15px;
    line-height: 65px;
    justify-content: space-between;

    background: radial-gradient(rgb(248, 248, 232),rgb(202, 209, 207));
}
.pokemonCard:hover{
    width:90.5%;
    height: 66px;
    transform: translate(3px);
    cursor: pointer;
    
}
.pokemonCard:hover img{
    width: 75px;
    height: 75px;
    
}
.pokemonCard img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    /* background: white; */
}
.imgContainer{
    width: 75px;

}
.info{
    text-transform: uppercase;
    width: max-content;
    text-align: left;
    margin-left: 5px;
}

.right{
    width: 100%;
    max-width: 860px;
    min-width: 600px;
    min-height: 650px;
    
    margin: 20px auto;
}


/* styles of filter camps*/

.search{
    width: 100% ;
    height: max-content;
    text-align: center;
    margin: auto;
    line-height: 50px;
}
input{
    height: 30px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 5px 5px 0px 0px;
    background: rgb(171, 207, 241);
    border-bottom: 2px solid rgb(54, 54, 54);
    text-align: center;
}
.btnSearch{
    
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgb(197, 213, 218);
     background: radial-gradient(rgb(186, 230, 208),rgb(111, 180, 139) ); 
}
.btnSearch:hover{
    background: rgb(157, 194, 175);
}
.btnSearch:active{
    background: rgb(163, 207, 198);
    transform: translate(2px);
    box-shadow: 1px 1px 5px 1px rgb(174, 179, 179);
}
@media screen and (max-width:805px) {

    .titleFi{
        width: 100%;
  
    }
    .pokedex_simple{
        width: 100%;
        margin: auto;
        float: none;
        height: 400px;
        overflow: hidden scroll;
        margin: auto;
    }
    
    ul{

        width: 80%;
        margin: auto;
        

    }
    .pokemonCard{
        box-sizing: border-box;
        align-items:center ;
        line-height: normal;
        
    }
    .pokemonCard:hover{
        width:90.5%;
        height: 66px;
        transform: translate(3px);
        cursor: pointer;
        
    }
  
    .pokemonCard img{
        width: 60px;
        height: 60px;
        border-radius: 100%;
       
    }
    .imgContainer{
        width: 30%;
    }
    .info{
        text-transform: uppercase;
        width: 60%;
        text-align: left;
        margin-left: 10px;
        font-size: 22px;
        
    }
    .info > span{
        display: block;
        font-weight: 600;
        
        
    }
    
    .right{
        width: 100%;
        float: none;
        margin: 20px auto;
        
    }
    
    
    /* styles of filter camps*/
    
    .search{
        width: 80% ;
        height: max-content;
        text-align: center;
        margin: 10px auto;
        line-height: normal;
        box-sizing: border-box;
    }
    input{
        
        width: 70%;
        margin: 10px auto;
        display: block;
       
    }
    .btnSearch{
        height: 40px;
        width: 80px;
       
        letter-spacing: 2px;
       
        
    }
    
    
}